.counter {
    display:flex;
    justify-content: center;
    border:1px solid black;
    height:30px;
    border-radius: 5px;
    width:max-content;
    margin:10px auto;
}
.counter button {
    width:40px;
}
.counter p {
    padding:0px 20px;;
    line-height: 0;
}
